#banner
  .banner_content
    %h1 File Cabinet
    %p File Away & Retrieve Any Day. Always Organized For You.
    %button= link_to "Join Now", new_user_registration_path



#callouts
  .callout_inner
    .wrapper
      .callout

        %h2 Organize
        %p Lorem ipsum dolor amet gluten-free direct trade portland unicorn salvia, kombucha hella stumptown shabby chic. Bitters pok pok ethical 90's meh hella helvetica. Echo park cliche artisan prism franzen gochujang austin pop-up. Sriracha ramps semiotics, irony cardigan polaroid kitsch neutra kale chips slow-carb. Tumblr cred copper mug hammock franzen, bitters quinoa DIY church-key messenger bag normcore seitan activated charcoal glossier food truck. Art party 3 wolf moon unicorn hammock meggings.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %h2 Join. Work. File.
    
